.mainLoginDiv{
   display: flex;
   text-align: center;
   height: 84vh;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  

}
.errorMessage{
   color: crimson;
}


.loginContiner{
    width: fit-content;

}
.loginContiner > div{
 margin: 10px 0;
 width: 100%;
}

.loginContiner > button{
   margin-right: 10px;
}
.loginContiner > button:last-child{
   margin-right: 0px;
}




.custom-shape-divider-bottom-1615231397 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   z-index: -1;
}

.custom-shape-divider-bottom-1615231397 svg {
   position: relative;
   display: block;
   width: calc(114% + 1.3px);
   height: 500px;
}

.custom-shape-divider-bottom-1615231397 .shape-fill1 {
   fill: rgba(255, 0, 136, 0.534);
}